<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>ebay</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <section id="main">
        <section class="border">
            <section class="wrapper">
                <div class='container'>
                    <div class=''>
                        <ul class='list-items'>
                            <li><img src="{% static 'images/subLogo' %}.png" alt="eBay plus" /></li>
                            <li>eBay Deals</li>
                            <li>Find a Store</li>
                            <li>Help</li>
                        </ul>
                    </div>
                    <div>
                        <ul class='list-items'>
                            <li>Sell</li>
                            <li class='item'>Watch List <i class="fa fa-angle-down"></i></li>
                            <li class='item'><i class="fa fa-user-circle" aria-hidden="true"></i> <i
                                    class="fa fa-angle-down"></i></li>
                            <li><i class="fa fa-bell-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <section id="navBar">
        <section class="border">
            <section class="wrapper">
                <div class='navbar'>
                    <div>
                        <a href="{% url 'web:index' %}">
                            <img src="{% static 'images/logo' %}.png" alt="Logo" />
                        </a>
                    </div>
                    <div class='nav-item'>
                        <div class='search'>
                            <span class='search-all' id="category-selector" onclick="toggleDropdown()">All
                                <i class="fa fa-angle-down"></i>
                                <span class="dropdown">
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" onclick="searchByCategory('All')">All</li>
                                        <li class="dropdown-item" onclick="searchByCategory('All')">Electronics</li>
                                        <li class="dropdown-item" onclick="searchByCategory('motors')">Motors</li>
                                        <li class="dropdown-item" onclick="searchByCategory('home-garden')">Home & Garden</li>
                                        <li class="dropdown-item" onclick="searchByCategory('clothing-accessories')">Clothing & Accessories</li>
                                        <li class="dropdown-item" onclick="searchByCategory('sports')">Sports</li>
                                        <li class="dropdown-item" onclick="searchByCategory('health-beauty')">Health & Beauty</li>
                                        <li class="dropdown-item" onclick="searchByCategory('toys')">Toys</li>
                                        <li class="dropdown-item" onclick="searchByCategory('business-industrial')">Business & Industrial</li>
                                        <li class="dropdown-item" onclick="searchByCategory('collectables')">Collectables</li>
                                        <li class="dropdown-item" onclick="searchByCategory('deals-sales')">Deals & Sales</li>
                                    </ul>
                                </span>
                            </span>
                            <div class='search-bar'>
                                <span class='search-icon'>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                <input type="text" id="search-input" class="search-input"
                                    placeholder='Search for anything' />
                                    <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                        <button type="button" class="search-button" onclick="performSearch()">Search</button>
                        <span class='search-link'><a href="">Advanced</a></span>
                    </div>
                </div>

                <div id="products-container"></div>
<div id="no-results" style="display: none;">No items found.</div>
            </section>
        </section>
    </section>

    {% block content %}

    {% endblock %}

    <section id="footer">
        <section class="wrapper">
            <div class="footer-container">
                {% block footer %}
                <div class="footer-content">
                    <ul class='footer-list'>
                        <li class='footer-item'>Buy</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>Sell</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>Stay Connected</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>About eBay</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class="footer-list">
                        <li class='footer-item '>Help</li>
                        <li>eBay Returns</li>
                        <li>eBay Money Back Guarantee</li>
                    </ul>
                    <ul class="footer-list">
                        <li class='footer-item'>Community</li>
                        <li>Announcements</li>
                        <li>Discussion Forum</li>
                        <li>Answer Centre</li>
                        <li>Groups</li>
                    </ul>
                </div>
                {% endblock %}

                <div class='copyright'>
                    <h6 class='copyright-text'>
                        Copright <i class="fa fa-copyright" aria-hidden="true"></i> 1995-2024 eBay Inc<strong
                            class='black'>. All Rights Reserved. </strong>
                        <span>User Agreement, Payment Terms of use, Cookies <strong>and</strong> AdChoice</span>
                    </h6>
                </div>
            </div>
        </section>
    </section>

    <script src="/static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>