<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ebay</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <section id="main">
        <section class="top">
            <section class="wrapper">
                <div class='container'>
                    <div class=''>
                        <ul class='list-items'>
                            <li><img src="/static/images/subLogo.png" alt="eBay plus" /></li>
                            <li>eBay Deals</li>
                            <li>Find a Store</li>
                            <li>Help</li>
                        </ul>
                    </div>
                    <div>
                        <ul class='list-items'>
                            <li>Sell</li>
                            <li class='item'>Watch List <i class="fa fa-angle-down"></i></li>
                            <li class='item'><i class="fa fa-user-circle" aria-hidden="true"></i> <i class="fa fa-angle-down"></i></li>
                            <li><i class="fa fa-bell-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
                        </ul>
                    </div>      
                </div>
            </section>

            <section id="navBar">
                
            </section>
        </section>
    </section>
</body>
</html>