<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ebay</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
</head>

<body>

    <section id="main">
        <section class="border">
            <section class="wrapper">
                <div class='container'>
                    <div class=''>
                        <ul class='list-items'>
                            <li><img src="/static/images/subLogo.png" alt="eBay plus" /></li>
                            <li>eBay Deals</li>
                            <li>Find a Store</li>
                            <li>Help</li>
                        </ul>
                    </div>
                    <div>
                        <ul class='list-items'>
                            <li>Sell</li>
                            <li class='item'>Watch List <i class="fa fa-angle-down"></i></li>
                            <li class='item'><i class="fa fa-user-circle" aria-hidden="true"></i> <i
                                    class="fa fa-angle-down"></i></li>
                            <li><i class="fa fa-bell-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <section id="navBar">
        <section class="border">
            <section class="wrapper">
                <div class='navbar'>
                    <div>
                        <img src="/static/images/logo.png" alt="Logo" />
                    </div>
                    <div class='nav-item'>
                        <div class='search'>
                            <span class='search-all'>All
                                <i class="fa fa-angle-down"></i>
                            </span>
                            <div class='search-bar'>
                                <span class='search-icon'>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                <!-- {/* <input type="text" placeholder='Search for anything' className=''/> */} -->
                                <span class='placeholder'>Search for anything</span>
                            </div>
                        </div>
                        <button class="search-button">Search</button>
                        <span class='search-link'><a href="">Advanced</a></span>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <section id="spotlight">
        <section class="bg-content">
            <section class="wrapper">
                <ul class="list">
                    <li class="list-item one">Home</li>
                    <li class="list-item two"><i class="fa fa-heart" aria-hidden="true"></i>Saved</li>
                    <li class="list-item">Electronics</li>
                    <li class="list-item">Motors</li>
                    <li class="list-item">Home & Garden</li>
                    <li class="list-item">Clothing & Accessories</li>
                    <li class="list-item">Sports</li>
                    <li class="list-item">Health & Beauty</li>
                    <li class="list-item">Toys</li>
                    <li class="list-item">Business & Industrial</li>
                    <li class="list-item">Collectables</li>
                    <li class="list-item">Deals & Sales</li>
                </ul>
                <div class='spotlight'>
                    <div class='spotlight-content'>
                        <div class=''>
                            <img src="/static/images/spotlight-bg.png" alt="Spotlight" />
                        </div>
                        <span class='spotlight-heading'>
                            <h1 class='spotlight-text'>Long weekend <br/>adventures await</h1>
                            <h2 class='spotlight-semitext'>Get yourself prepped & your ride ready to hit the road.</h2>
                            <button class="spotlight-button">Shop now</button>
                        </span>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <section id="recent">
        <section class="bg-content">
        <section class="wrapper">
            <div class="recent-container">
                <h3 class="text">Recently viewed</h3>
                <h5 class="seeAll">See All</h5>
            </div>
            <div class="item-content">
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

            </div>
        </section>
    </section>
    </section>

    <section id="picked">
        <section class="bg-content">
        <section class="wrapper">
            <div class="recent-container">
                <h3 class="text">Picks for you</h3>
                <h5 class="seeAll">See All</h5>
            </div>
            <div class="item-content">
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

            </div>
        </section>
    </section>
    </section>

    <section id="watched">
        <section class="bg-content">
        <section class="wrapper">
            <div class="recent-container">
                <h3 class="text">Watched items</h3>
                <h5 class="seeAll">See All</h5>
            </div>
            <div class="item-content">
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="/static/images/product-1.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="#" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>

            </div>
        </section>
    </section>
    </section>

    <section id="footer">
        <section class="wrapper">
            <div class="footer-container">
                <div class="footer-content">
                    <ul class='footer-list'>
                        <li class='footer-item'>Buy</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>Sell</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>Stay Connected</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class='footer-list'>
                        <li class='footer-item'>About eBay</li>
                        <li>eBay Deals</li>
                        <li>eBay Mobile</li>
                        <li>ebay for Charity</li>
                        <li>eBay Stores</li>
                        <li>Gift Finder</li>
                        <li>Holidays and Seasonal Occasions</li>
                    </ul>
                    <ul class="footer-list">
                        <li class='footer-item '>Help</li>
                        <li>eBay Returns</li>
                        <li>eBay Money Back Guarantee</li>
                    </ul>
                    <ul class="footer-list">
                        <li class='footer-item'>Community</li>
                        <li>Announcements</li>
                        <li>Discussion Forum</li>
                        <li>Answer Centre</li>
                        <li>Groups</li>
                    </ul>
                </div>
                <div class='copyright'>
                    <h6 class='copyright-text'>
                        Copright <i class="fa fa-copyright" aria-hidden="true" ></i> 1995-2024 eBay Inc<strong class='black'>. All Rights Reserved. </strong>
                        <span>User Agreement, Payment Terms of use, Cookies <strong>and</strong> AdChoice</span>
                    </h6>
                </div>
            </div>
        </section>
    </section>


</body>

</html>