<!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->
 pick

                  <!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->

                watch

                <!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->