<!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->
 pick

                  <!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->

                watch

                <!-- <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div>
                <div>
                    <div class="image-content">
                        <div class="image">
                            <img src="{% static 'images/product-1' %}.jpg" alt="1">
                        </div>
                        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                    <span class="text-content">
                        <a href="{% url 'web:details' %}" class="image-text">Ultimate Samsung Portable<br/> 
                            Bluetooth Speaker</a>
                            <span class="image-price">AU $59.00</span>
                    </span>
                </div> -->


                <!-- <li class="list-item two" onclick="toggleSavedItems()"><i class="fa fa-heart" aria-hidden="true"></i> <span id="saved-counter">0</span><a href="{% url 'web:saved_items' %}">Saved</a></li> -->


                <!-- <section id="saved-items">
    <div class="wrapper">
        <h1>Your Saved Items</h1>
        <p>Number of saved items: {{ saved_items|length }}</p>
        <ul id="saved-items-list">
            {% for saved_item in saved_items %}
            <li>
                <img src="{{ saved_item.product.image.url }}" alt="{{ saved_item.product.name }}">
                <h3>{{ saved_item.product.name }}</h3>
                <p>Price: AU ${{ saved_item.product.price }}</p>
            </li>
            {% empty %}
            <li>No saved items yet.</li>
            {% endfor %}
        </ul>


    </div>
</section> -->