* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
i{
    /* color: black; */
    font-size:14px;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1280px;
}
 .border{
    border-bottom: 1px solid black;
}
#main .container{
    display: flex;
    justify-content: space-between;
    font:12px;
    font-weight: normal;
    padding: 8px 0;
    align-items: center;
}
#main .list-items{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
#main .item{
    display: flex;
    align-items: center;
    gap: 4px;
}

#navBar .navbar{
    display: flex;
    gap: 1.25rem;
    padding: 16px 0;
    align-items: center;
}
#navBar .nav-item{
    display: flex;
    gap: 12px;
    align-items: center;
}
#navBar .search{
    display: flex;
    width: 100%;
    border: 1px solid;
}
#navBar .search-all{
    display: flex;
    align-items: center;
    padding: 12px;
    border-right: 1px solid black;
}
#navBar .search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #f4f2f2;
}
#navBar .search-icon{
    margin-left: 8px;
}
#navBar .placeholder{
    padding-right: 45rem;
    font-size: 14px;
    color: #3c3c3c;
}
#navBar .search-button{
    padding: 12px 24px;
    background-color: #1D4ED8;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    border: none;
}
#navBar .search-link{
    color:#323232;
    font-size: 14px;
    font-weight: normal;
}

 .bg-content{
    background-color: #f4f2f2;
}
#spotlight .list{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    color: #494949;
    padding: 12px 0;
}
#spotlight .list-item{
    padding: 4px 8px;
    border-radius: 8px;
}
#spotlight .list li.one{
    color: #1D4ED8;
    background-color: #E8EDFB;
}
#spotlight  .two{
    display: flex;
    align-items: center;
    gap: 4px;
}
#spotlight .list li.two i{
    margin-right: 4px;
}
#spotlight .spotlight{
    padding: 20px 0;
}
#spotlight .spotlight-content{
    position: relative;
}
#spotlight .spotlight-image img{
    width: 100%;
}
#spotlight .spotlight-heading{
    position: absolute;
    color: #fff;
    top:3rem;
    left:5rem;
    font-weight: 600;
}
#spotlight .spotlight-text{
    font-size: 30px;
}
#spotlight .spotlight-semitext{
    font-size: 14px;
    font-weight: normal;
    margin: 8px 0;
}
#spotlight .spotlight-button{
    padding: 8px 16px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    background-color: white;
    border-radius: 24px;
}


 .recent-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.text{
    font-size: 24px;
    font-weight: 600;
}
.seeAll{
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    text-decoration: underline;
    cursor: pointer;
}
 .item-content{
    padding: 12px 0 20px 0;
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
 .image-content{
    position: relative;
}
.image{
    /* width: 296px; */
    /* height: 216px; */
    border-radius: 4px;
}
.image img{
    border-radius: 4px;
    width: 100%;
}
.heart{
    position: absolute;
    top:8px;
    left: 10rem;
    background-color: #fff;
    padding: 6px;
    border-radius: 100%;
    font-size: 20px;
}
.text-content{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
.image-text{
    font-size: 15px;
    font-weight: 600;
}
.image-price{
    font-size: 16px;
    font-weight: 700;
}

#footer .footer-container{
   
   display: flex;
    flex-direction: column;
}
#footer .footer-content{
    display: flex;
   font-size: 12px;
   font-weight: normal;
   color: #616161;
   padding: 40px 0;
   justify-content: space-between; 
}
#footer .footer-list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
#footer .footer-item{
    font-size: 16px;
    font-weight: 600;
}
#footer .copyright{
    font-size: 14px;
    color: #616161;
}
#footer .copyright-text{
    font-weight: 600;
    display: flex;
    align-items: center;
}
#footer .copyright-text i{
    margin: 0 4px;
}
#footer .black{
    color: #000;
}
#footer span{
    font-weight: normal;
    text-decoration: underline;
}
#footer strong{
    text-decoration: none;
}


#details .head{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 0;
}
#details .search-back{
    border: 1px solid #DBDBDB;
    color: #1D4ED8;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}
#details .search-back i{
    display: flex;
    justify-content: center;
    align-items: center;
}
#details .head-text{
    display: flex;
    font-weight: 400;
    font-size: 14px;
}
/* #details .search-text{
    color: #1D4ED8;
} */
#details .text{
    color: #494949;
}
#details .content{
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
}
#details .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#details .left .image-container{
    border: 1px solid #DBDBDB;
    width: 450px;
    height: 450px;
    border-radius: 10px;
}
#details .left .image-arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
#details .left .image-arrows i{
    border: 1px solid #DBDBDB ;
    /* border-radius: 0 4px 4px 0; */
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #1D4ED8;
}
#details .left .image{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#details .left .image-gallery{
    display: flex;
    gap: 10px;
}
#details .left .side-image{
    width: 64px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
}
.fa-angle-right{
    /* border-radius: 4px 0 0 4px; */
}
#details .middle{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#details .middle .title{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;   
}
#details .middle .availability{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;;
}
#details .middle .condition{
    font-size: 16px;
    font-weight: 400;
}
#details .middle .quantity{
    display: flex;
    gap: 12px;
}
#details .middle .quantity h6{
    
    font-size: 16px;
    font-weight: 400;
}
#details .middle .quantity .number{
    border: 1px solid #DBDBDB;
    padding: 5px 10px;
    border-radius: 4px;
}
#details .middle .quantity .total{
    color: red;
}
#details .middle .price{
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 14px;
}
#details .middle .price strong{
    font-size: 24px;
}
#details .middle .button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
#details .middle .button .buy{
    padding: 8px 100px;
    border-radius: 100px;
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
#details .middle .button .add-item button{
    padding: 8px 24px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: #1D4ED8;
}
#details .middle .button .add-item .cart{
    background-color: #E8EDFB;
    
}
#details .middle .button .add-item .wishlist{
    background-color: #B8C0CC ;
}
#details .middle .button .add-item .wishlist i{
    font-size: 12px;
}
#details .middle .service{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}
#details .middle .service .checkbox{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
#details .middle .service .agreement{
    color: #5F5F5F;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 20px;
    margin-bottom: 20px;
}
#details .middle .card{
    padding: 24px 16px;
    background-color: #F6F6F6;
    border-radius: 20px;
}
#details .middle .delivery{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DBDBDB;
}
#details .middle .delivery h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
#details .middle .return{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}
#details .middle .return h6{
    font-size: 14px;
    font-weight: 400;
    
}
#details .middle .return a{
    color: #000;
    text-decoration: underline;
}
#details .middle .payment{
    display: flex;
    /* flex-direction: column; */
    gap: 8px;
}
#details .middle .payment .pay-methods{
    width: 40px;
}
#details .right{}